* {
    padding: 0;
    margin: 0;
}
header {
    background: #1c66a0;
    color: #fff;
}


header h1 {
    text-align: center;
}

.main--container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.card {
    background: #e2e4e6;
    min-width: 272px;
    max-height: 90vh;
    padding: 10px;
    margin: 10px;
}

.card--header h2 {
    font-size: 1em;
    color: #3c3c3c;
    margin-bottom: 10px;
}

.task {
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;

}

.card-footer p {
    color: #777;
}

.card--continer {
    height: 77vh;
    overflow-y: auto;
}